.box{
    width:70%;
    /* height: 100px; */
    margin:auto;
    padding:20px;
    background-color: aliceblue;
    margin-top:30px;
    border-radius:10px;
    box-shadow: 1px 1px 1.5px 0.5px #9c9cff;

}
.top span{
    font-size:1.6rem;
    font-weight:900;
    padding:5px 0 8px 0;
}
.bottom{
    display: flex;
    margin-top:20px;
    justify-content:space-between;
}
.left{
    display: flex;  
    flex-direction: column;
    
}
.left input{
    width: 450px;
    border:none;
    outline:none;
    border-radius:20px;
    font-size:1.0rem;
    margin-top:20px;
    padding:12px 25px 13px 25px;
    
}
.left input:hover{
    box-shadow: inset 0 0 5px blue; 

  
}
.right{
    display:flex;
    align-items:center;
}
.right button{
    /* margin-top:30px; */
    margin-left:5px;
    width:80px;
    border:none;
    outline:none;
    border-radius:5px;
    font-size:1rem;
    padding:5px 7px 5px 7px;
}
.clearbtn{
  background-color:red;
}
.clearbtn:hover{
    box-shadow: 1px 1px 1.5px 0.5px grey;   
}
.createbtn{
  background-color:blue;
}
.createbtn:hover{
    box-shadow: 1px 1px 1.5px 0.5px grey;
}

/* code for mobile devices */

@media screen and (max-width:1331px) {
    .box{
        width:80%;
    }
}

@media screen and (max-width:1166px) {
    .box{
        width:80%;
    }
    .left input{
        width: 400px;
      
    }
}

@media screen and (max-width:1074px) {
    .box{
        width:83%;
    }
    .left input{
        width: 300px;
      
    }
}

@media screen and (max-width:863px) {
    .box{
        width:85%;
    }
    .left input{
        width: 250px;
      
    }
}

@media screen and (max-width:759px) {
    .box{
        width:88%;
    }
    .left input{
        width: 200px;
      
    }
}

@media screen and (max-width:649px) {
    .box{
        width:90%;
    }
    .left input{
        width: 150px;
      
    }
}


@media screen and (max-width:577px) {
    .box{
        width:90%;
    }
    .left input{
        width:90%;
      
    }
    .bottom{
        flex-direction:column;
    }
    .right{
        margin-top:10px;
    }
}

@media screen and (max-width:511px) {
    .box{
        width:97%;
    }
    .left input{
        width:80%;
      
    }
    .bottom{
        flex-direction:column;
    }
    .right{
        margin-top:10px;
    }
}