header{
    width:100%;
    height:10vh;
    background-color: rgb(0, 0, 0);
    padding:0px 20px 0px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.left{
    display:flex;
    justify-content:left;
    align-items:center;   
}
.heading span{
    color:white;
    font-size: 1.5rem;
    padding-left:5px;
}
.right{
    display:flex;
    justify-content:right;
    align-items: center;
    padding: 0px 40px 0px 0px;
}
.searchbar{
    margin-right:10px;
    position: relative;
}

.searchbar input{
    height:25px;
    width :250px;
    border:0;
    outline:none;
    border-radius:3px 3px 0px 0px;
    font-size: 1rem;
    padding:5px;
}
.searchfilter{
    background-color:aliceblue;
    position: absolute;
    top:36px;
    right:-1px;
    max-height:200px;
    width :250px;
    border:0;
    outline:none;
    border-radius:3px;
    font-size: 1rem;
    padding:5px;
    border: 1px solid rgb(128, 196, 239);
    border-top:none;
    border-radius:0px 0px 10px 10px;
    z-index:1;
    overflow-y:scroll;
    scroll-behavior: smooth;

}

.searchfilter::-webkit-scrollbar{
    width:10px;
    background-color:#60f4ff82;
    height:20px;
    border-radius:8px;
}


ul{
    list-style-type: none;
}
ul .searchindividual{
  padding:5px;
}
.notificationIcon{
    position:relative;
}
.count{
    position:absolute;
    color:white;
    left:15px;
    bottom:25px;
    height:20px;
    width:20px;
    border-radius:50%;
    background-color:orange;
    text-align:center;
}

/* css for mobile device */
 @media screen and (max-width:553px) {
    header{
        padding: 0 !important;
        
    }
    .right{
        padding:0px;
    }
    .searchbar input{
        width: 150px;
    }
    .searchbar{
        margin-right:5px;
        
    }
    #bell{
        font-size:25px;
    }
    .count{
        position:absolute;
        /* color:white; */
        left:10px;
        bottom:20px;
        height:15px;
        width:15px;
        border-radius:50%;
        background-color:orange;
        text-align:center;
        font-size:small;
    }
 }

 
 @media screen and (max-width:365px) {
    .searchbar input{
        width: 120px;
        height: 15px;
    }
    .heading span{
        font-size: 1rem;
        font-weight:900;
    }
    .imgIcon img{
        height:35px;
        width:35px;
    }
 }   